.voting_for_player {
  display: grid;

  .ant-card-body {
    padding: 24px, 8px, 24px, 8px;
  }

  .vote {
    justify-self: center;
  }
}

@media screen and (min-width: 900px) {
  .voting_for_player {
      grid-template-columns:  repeat(10, minmax(80px, 1fr));
      grid-gap: 1px;
  }
}

@media screen and (min-width:460px) and (max-width:899px) {
  .voting_for_player {
      grid-template-columns: repeat(5, minmax(80px, 1fr));
      grid-gap: 5px;
  }
}

@media screen and (min-width:350px) and (max-width:459px) {
  .voting_for_player {
      grid-template-columns: repeat(4, minmax(80px, 1fr));
      grid-gap: 10px;
  }
}

@media screen and (max-width:349px) {
  .voting_for_player {
      grid-template-columns: repeat(3, minmax(80px, 1fr));
      grid-gap: 10px;
  }
}

